// *** Colors ***
$color-white: #fff;
$color-black: #000;

$color-dark: #222;
$color-light: #f1f1f1;

$color-red: rgb(200, 40, 70);

$color-gradient-01: #ff0099;
$color-gradient-02: #fff900;
$color-gradient-03: #ff6c00;
$color-gradient-04: #00ff15;

// *** End of Colors ***

// *** Font Family ***
$font-fa-primary: 'Montserrat', serif;
// *** End of Font Family ***
